<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de Pessoas</title>
</head>
<body>
    <h1>Lista de clientes</h1>
    <ul>
        {% for pessoa in pessoas %}
        <li>
            nome = {{ pessoa.nome }} 
        </li>
        <li> 
            email = {{ pessoa.email }} 
        </li>
        <li>
            idade = {{ pessoa.idade }} 
        </li>
        <li>
            telefone = {{ pessoa.telefone }}
        </li>
        <a href="{% url 'editar_pessoa' pessoa.id %}">editar pessoa</a>
        <br>
        <a href="{% url 'excluir_pessoa' pessoa.id %}">excluir pessoa</a>
        {% empty %}
        <li>Nenhuma pessoa encontrada</li>
        {% endfor %}
    </ul>

    <a href="/nova">cadastrar cliente</a>

</body>
</html>